<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  {{!--
  <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <img class="header-image" src="/img/curtain.png" alt="Movie Curtain" />      
      <div class="header-content">
        <div class="logo">
          <a href="/">
            <img class="logo-image" src="/img/sign.png" alt="Cinema Finder Logo" />
          </a>
        </div>
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <a href="/logout" id="logout" class="header-button">Logout</a>
          <a href="/Movies" id="movies" class="header-button">Movies</a>
          {{else}}
          <a href="/login" class="header-button">Login</a>
          <a href="/Signup" class="header-button">Sign up</a>
          {{/if}}
        </nav>
      </div>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  <script src="/js/display.js"></script>
  <script src="/js/delete.js"></script>
  {{/if}}

  <footer>
    <img class="footer-image" src="/img/seats.jpeg" alt="Movie Seats" />
  </footer>
</body>

</html>