body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #50a3a2;
  color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

h1 a {
  color: #fff;
  text-decoration: none;
  margin-left: 0.5rem;
}

nav a, button {
  color: #fff;
  background-color: #333;
  text-decoration: none;
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover, button:hover {
  background-color: #37a;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #50a3a2;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  display: flex;
}

button:hover {
  background: #37a;
  transition: background 0.5s ease;
}

footer {
  background: #50a3a2;
  color: #fff;
  text-align: center;
  padding: 3rem;
  margin-top: auto;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
  transition: color 0.5s ease;
}

/* Add modern styling to form */
.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.form-input {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #50a3a2;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-top: 2rem;
}

.form-button:hover {
  background-color: #37a;
}

/* Add animation to form elements */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-group,
.form-button {
  animation: fadeIn 0.5s ease forwards;
  animation-delay: 0.1s;
}


/* Add smooth transition to all links and buttons */
a, button {
  transition: all 0.3s ease-out;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  header {
    padding: 1rem 0;
  }
  
  button {
    padding: 0.5rem 1rem;
  }
  
  footer {
    padding: 2rem;
  }
}
